<p id="notice"><%= notice %></p>

<p>
  <strong>Prtoject Id:</strong>
  <%= '#' + @project.id.to_s %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @project.p_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @project.end_date %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @project.cost %>
</p>

<p>
  <strong>Document:</strong>
  <%= link_to @project.document.original_filename, @project.document.url%>
</p>


<div class="page-header">
  <%= link_to new_project_task_path(@project), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Task
  <% end %>
  <h1>Listing tasks</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Users</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @project.tasks) do |task| %>
        <td><%= task.name %></td>
        <td><%= truncate(task.description, length: 17) %></td>
        <td><%= task.users.map(&:name).join(', ') %></td>
        <td><%= link_to 'Show', project_task_path(@project, task) %></td>
        <td><%= link_to 'Edit', edit_project_task_path(@project, task) %></td>
        <td><%= link_to 'Destroy', project_task_path(@project, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
